.router-ul {
    border-radius: 11px 11px 11px 11px;
    -moz-border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px 11px 11px 11px;
    border: 1px solid #E8E8E8;
    list-style-type: none;
    margin: 5px;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
}

.router-li {
    font-family:"Segoe UI",Arial,sans-serif;
    font-weight:400;
    font-size:20px;
    font-weight: ;

    text-align: center;
    display: inline-block;
    padding: 16px;
    text-decoration: none;
}

.router-li:hover {

}
